<!--底部 start-->
<footer class="footer">
    <div class="footer-inner">
        <div class="footer-inner__copyright">&copy; <%= date(new Date(), 'YYYY') %>
            <a class="nb" target="_blank" href="https://github.com/gary-Shen/hexo-theme-modesty">modesty</a> by <a class="nb" href="https://github.com/gary-Shen" target="_blank">gary-Shen</a>
        </div>
        <div class="footer-inner__author">
            <a class="nb" target="_blank" href="http://hexo.io/">Hexo</a> theme
        </div>
    </div>
</footer>
<!--底部 end-->