<div class="post-archive__year">
    <h2 class="post-archive__time">
        <a href="<%- url_for('archives/' + year) %>" class="archive-year"><%= year %></a>
    </h2>

    <div class="border-spread">
        <span class="border-spread__item spread-1"></span>
        <span class="border-spread__item spread-2"></span>
        <span class="border-spread__item spread-3"></span>
    </div>
    <span class="post-archive__title">这一年</span>
</div>