#mobile-nav{
  display: none;
  .hide{
    display: none;
  }
  @media mq-mobile {
    display block;
    position: fixed;
    z-index:9999;
    width: 100%;
    top: 0;
    height: 3.6em;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 2px $lighten-grey;
  }
  @media mq-tablet {
    display block;
    position: fixed;
    z-index:9999;
    width: 100%;
    top: 0;
    height: 3.6em;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 2px $lighten-grey;
  }
}

.mobile-nav__inner{
  line-height: 3.6em;
  clearfix()
}

.mn-inner__logo{
  font-size: 20px;
  font-weight:bold;
  display: block;
  padding 0 1em
}

  .mn-inner__menu{

    a{
      display block;
      font-size: 1.5em;
      padding: 0 1em;
    }
  }

.mobile-nav__wrap{
  border-top: 1px #ddd solid;
  background-color: #FFFFFF;
}

.mobile-nav__list{
  padding: 0.5em 0;
  border-bottom: 1px #ddd solid;
  li{
    a{
      display block
      padding .5em 1.5em
    }
  }
}